body {
  background: rgba(235, 235, 235, 0.692);
  margin: 0;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.d-flex {
  display: flex;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* ul li {
  list-style: none;
}

i {
  color: rgb(184, 184, 184);
  cursor: pointer;
  transition: all 0.2s;
}

i:hover {
  transform: scale(1.2);
}

i:first-of-type:hover {
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -webkit-animation-timing-function: linear;
}

.todolist-container {
  font-size: 1.4em;
  width: 90%;
  max-width: 40rem;
  box-shadow:
    0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.08),
    -0.25rem -0.05rem 1rem 0 rgba(81, 80, 80, 0.08);
}

.todolist-title {
  justify-content: space-between;
  align-items: center;
}

.todolist-container > *,
.todolist-tasks-list li {
  padding: 1.2rem 4%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

ul {
  padding: 0 !important;
  margin: 0;
}

li .li-content {
  display: flex;
  align-items: center;
}

li .li-content > * {
  padding: 0 20px;
}

.li-content .checkbox {
  height: 15px;
  width: 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.checkbox:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 1.3em;
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

.form {
  justify-content: space-between;
  align-items: center;
}

.form input {
  background: transparent;
  border: none;
  font-size: 1.1em;
  font-style: italic;
  color: rgb(117, 117, 117);
  width: 100%;
}

input::placeholder {
  color: rgb(193, 193, 193);
}

:is(input, p):focus {
  outline: none !important;
}

.clearBtn {
  justify-content: center;
  background-color: rgba(239, 238, 238, 0.612);
}

.clearBtn a {
  text-decoration: none;
  color: rgb(184, 184, 184);
  font-weight: 400;
  padding: 0.7rem;
}
